.fighterIcon {
    height: 28px;
    padding: 0;
    margin: 0;   
    position: relative;
    left: -20px; 

}

.iconHolder {
    overflow: hidden;
    border-right: solid #000 2px;
}

.fighterRow {
    border: solid #000 1px;
    height: 30px;
    font-size: 15px;
    background-color: #ccc;
}

.newTimeInput, .newTimeInput:disabled, .newTimeInput:focus {
    border: none;
    padding: 0;
    background: none; 
    border-radius: 0;
    box-shadow: none;  
} 

.blah {
    padding-top: 2px;
    margin-right: 3px; 
}

.dark {
    background: 
        linear-gradient(to bottom right, 
        rgb(176, 176, 176),
        rgb(171, 171, 171))
   
}

.key {
    background-color: #fff;
}

.current{
    background: 
        linear-gradient(to bottom right, 
        #439adc, 
        #598cb1)
}