.form-check-inline  { 
  margin: 5px 10px;
}

.inputContainer{
  margin: 0 1px;   
}

/* Hide the browser's default radio button */
.inputContainer input {
  opacity: 0; 
}

/* Create a custom radio button */
.checkmark {  
  height: 60px;
  width: 45px;
  overflow: hidden;
  filter: grayscale(100%); 
  cursor: pointer;
  border: solid #000 2px;
}

/* On mouse-over, add a grey background color */
.inputContainer:hover input ~ .checkmark {
 filter: grayscale(0);
 border: solid #2196F3 2px;   
}

/* When the radio button is checked, add a blue background */
.inputContainer input:checked ~ .checkmark {
  border: solid #000 2px;
  filter: grayscale(0)
}